body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background:linear-gradient(to bottom, #7ec3f3,#6593f8);
    background-image: url(enjoy\ Every\ Moment.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sidebar {
    position: fixed;
    left: -240px;
    top: 0;
    height: 100%;
    width: 270px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
   /* background: 	#1e1e1e;*/
    text-decoration-color: #111;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0,0,0,5);
    padding-top: 20px;
    color: white;
    transition: left 0.3s;
    z-index: 1;
    border-radius: 8px;
    transition-timing-function: ease-in-out;
}
.sidebar a {
    padding: 15px;
    text-decoration: none;
    color:#ffffff;
    background: transparent;
    display: block;
}
.sidebar a:hover {
    background-color: 	#7ec3f3;
}
.toggle-btn {
    position: fixed;
    top: 0px;
    left:-2px;
    background-color: #94ebef;
    background-image: url('Arrowleft.png') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    /*color: white;*/
    border: none;
    /*padding: 10px;*/
    cursor: pointer;
    transition: left 0.3s;
    z-index: 2;
    transition-timing-function: ease-in-out;
    border-radius: 20px;
    margin-top: 10px;
}
.main-content {
    display:block;
    padding: 50px;
    text-align-last: center;
    color: #ffffff;
}
.dropdown-content {
    display: grid;
    overflow: hidden;
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out,max-height 0.3s ease-in-out;
}
.dropdown-content a {
    padding-left: 20px;
    width: 200px;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}
.dropdown-content.show {
    display: block;
    opacity: 1;
    max-height: 500px;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out,opacity 0.3s ease-in-out;
}
.dropdown-btn {
    cursor: pointer;
    display: flex;
    color: #fff;
    border-radius:12px ;
    width: 210px;

}
.dropdown-btn:hover{
    color: #11101d;
    background: #fff;
}
.dropdown-content a:hover{
    display: block;
    padding: 20px;
    margin-top: 5px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-5px);
    border-radius: 12px;
}

